Plugins>Curve Tracing, "Source Steger's algorithm", stegers.Steger_source

#Analyze>mt_trace v.0.2.0, "Directional FFT", plugins.Directional_FFT
#Analyze>mt_trace v.0.2.0, "Derivative of Gaussian", plugins.Derivative_of_Gaussian
#Analyze>mt_trace v.0.2.0, "Hessian Matrix", plugins.Hessian_Matrix
#Analyze>mt_trace v.0.2.0, "Fill Holes 2.0", plugins.Fill_Holes
#Analyze>mt_trace v.0.2.0, "Connected Components 2.0", plugins.Connected_Components
#Analyze>mt_trace v.0.2.0, "Mask", plugins.Mask_Filter
#Analyze>mt_trace v.0.2.0, "Non-Zero Statistics", plugins.NonZero_Statistics
#Analyze>mt_trace v.0.2.0, "-"
#Analyze>mt_trace v.0.2.0, "Classical Steger's algorithm", plugins.Classical_Stegers_Algorithm
#Analyze>mt_trace v.0.2.0, "Trace Microtubules using Eight-Connectivity", plugins.Trace_Microtubules_Connected
#Analyze>mt_trace v.0.2.0, "Trace Microtubules with Linking of segments", plugins.Trace_Microtubules_Linking
#Analyze>mt_trace v.0.2.0, "Trace Microtubules modified Steger's (our method)", plugins.Trace_Microtubules_Modified_Stegers
#Analyze>mt_trace v.0.2.0, "Trace Microtubules with ODFs", plugins.Trace_Microtubules_ODFs
